.header {
  width: 100vw;
  padding: 32px 0;
}

.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.link {
  display: inline-flex;
  align-items: center;
  position: relative;
  grid-column-start: 3;
}

.link > .linkText {
  margin: 0;
  margin-left: 8px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: var(--letter-spacing-heading);
  line-height: var(--line-height-body);
  position: relative;
  bottom: -5px;
}
