.colors {
  display: flex;
  flex-wrap: wrap;
}
.colorTile {
  margin: 8px;
}

.colorTileSwatch {
  width: 100px;
  height: 100px;
}

.space {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.themePage {
  margin: 16px;
}
